@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background-color: #abbeda;
  font-family: 'Open Sans', sans-serif;
}
header{
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  flex-direction: column;
}
.logo{
  margin-top: 2rem;
  height: 5rem;
  width: 5rem;
}
header > h1{
  color: #494747;
}
.container {
  display: flex;
  justify-content: center;
}

.container-fluid {
  padding: 2rem 8rem 0rem 8rem;
  width: 40rem;
}

.form-container {
  display: flex;
  position: relative;
}
.location {
  padding: 1rem;
  padding-left: 3rem;
  width: 25rem;
  border: 2px solid #313030;
  border-radius: 0.5rem;
  font-size: 1.3rem;
}

.fa-magnifying-glass{
  position: absolute;
  font-size: 1.5rem;
  color: #313030;
  top: 50%;
  transform: translate(0%,-50%);
  text-align: right;
  margin-left: 1rem;
}
.result-section {
  position: relative;
}

.result {
  position: absolute;
  background-color: #313030;
  width: 24rem;
  list-style-type: none;
  border-radius: 0.7rem;
}
.result > li > a {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  padding: 0rem;
}
.result > li > a:hover{
  color: #928e8e;
}
.content-container {
  display: none;
}

.content {
  background-color: #dde1e481;
  min-width: 15rem;
  color: #464242;
  font-size: 1.4rem;
  margin-top: 2rem;
  border-radius: 1rem;
  font-weight: 500;
}
.content:not(".city"){
  line-height: 0.2rem;
}
.city{
  padding: 1.8rem 1.5rem 1.5rem 1rem;
}
.current-weather {
  padding: 1rem;
  font-size: 1.25rem;
}
.weather-format{
  padding: 1rem;
  font-size: 1.25rem;
}


@media only screen and (max-width: 600px) {
  .location {
    padding-left: 2.2rem;
    width: 25rem;
    border-radius: 1rem;
    font-size: 1.3rem;
  }
  .result {
    width: 20rem;
  }
  .container-fluid {
    padding: 1rem 0rem;
    width: 22rem;
    margin: 0 auto;
  }
  .fa-magnifying-glass{
    font-size: 1.5rem;
    margin-left: 0.4rem;
  }
  .weather-format{
    padding: 1rem;
    font-size: 1.25rem;
  }
}
